/* This file intentionally left blank. */
.no-click {
    pointer-events: none;
}

.docutils table caption {
    text-align: left;
}

.highlight-last-four-cols td:nth-child(5),
.highlight-last-four-cols td:nth-child(6),
.highlight-last-four-cols td:nth-child(7),
.highlight-last-four-cols td:nth-child(8) {
    background-color: #ffcccb;
}
